%h3.center Product Lists
.collection
.row
  - @products.each do |product|
    .col.s12.m4
      .card
        .card-image
          = link_to product do
            - if product.image.present?
              = image_tag product.image_url, :width => '30%', :height => 'auto'
            %p
              = product.name
          %p
            = product.display_price
  