%h1 商品一覧
- @products.each do |product|
  = link_to product_path product do
    - if product.image.present?
      = image_tag product.image_url, :width => '30%', :height => 'auto'
    %p
      = product.name
  %p
    = product.display_price

  %hr